<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util.xsd" >

    <bean id="agentiHibernate" class="persistance.jdbc.AgentHibernateRepository"/>
    <bean id="produseHibernate" class="persistance.jdbc.ProdusHibernateRepository"/>
    <bean id="comenziHibernate" class="persistance.jdbc.ComandaHibernateRepository"/>


    <bean id="service" class="server.ServiceImplementation">
        <constructor-arg ref="agentiHibernate" />
        <constructor-arg ref="produseHibernate" />
        <constructor-arg ref="comenziHibernate" />


    </bean>

    <bean class="org.springframework.remoting.rmi.RmiServiceExporter">

        <property name="serviceName" value="Firma"/>
        <property name="service" ref="service"/>
        <property name="serviceInterface" value="services.IServices"/>
        <property name="servicePort" value="1099"/>
    </bean>

</beans>